<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-5 text-center">

    <!-- Hero Section -->
    <h1 class="fw-bold">Welcome to EmpTrack 🚀</h1>
    <p class="text-muted">Manage your employees efficiently and securely</p>

    <div class="mt-4">
        <a th:href="@{/dashboard}" class="btn btn-primary me-2">Go to Dashboard</a>
        <a th:href="@{/employees/list}" class="btn btn-outline-secondary">View Employees</a>
    </div>

    <!-- Stats -->
    <div class="row mt-5">

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Departments</h5>
                <h2 th:text="${totalDepartments}">0</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Employees</h5>
                <h2 th:text="${totalEmployees}">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total ADMIN</h5>
                <h2 th:text="${totalAdmin}">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total HR (Role)</h5>
                <h2 th:text="${totalHR}">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total User</h5>
                <h2 th:text="${totalUser}">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Sales</h5>
                <h2 th:text="${totalSales}">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Marketing</h5>
                <h2 th:text="${totalMarketing}">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Finance</h5>
                <h2 th:text="${totalFinance}">0</h2>
            </div>
        </div>


    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>